body {
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    font: arial;
    background-image: url(../css/img/fundo-formulario-e1588654471272.png);
    background-repeat:repeat ;
    background-size: cover ;
    background-position: 100%;
}

.container {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    padding: 30px;
}

a {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items:center;
    justify-content:center;
    min-height: 5%  ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-300%);
    padding: 35px;
    border-radius:20% ;
    border: 3px solid #8866bd;
    background: #4f0059;
    font-weight: 300;
    font-size: 1rem;
    
}

h4 {
    text-align: center;
}
