body {
    font: arial;
    box-sizing: border-box;
    background-image: url(../css/img/fundo-formulario-e1588654471272.png);
    background-repeat:repeat ;
    background-size: cover ;
    background-position: 100%;
}

.container {
    background-color: rgba(122, 38, 117, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10%  ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 35px;
    border-radius:20% ;
    border: 3px solid #8866bd;
    background: #4f0059;
    font-weight: 300;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: rgba(243, 243, 243, 0.838);
    text-decoration: none;
    display: block;
    padding: 5px;
    width: 100%;
    text-align: center;
}
